name: Build and Push Docker Image and SSH re-run the container

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

      
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/dtu_hub:latest .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/dtu_hub:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: SSH to server and pull new Docker image
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/dtu_hub:latest
          docker stop dtu_hub || true
          docker rm dtu_hub || true
          docker run -d -p 8000:8000 --name dtu_hub -v dtu_hub_logs:/app/log ${{ secrets.DOCKER_USERNAME }}/dtu_hub:latest